.sort {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 250px;
    top: 0px;
    height: min-content;
}

select {
    border: none;
    outline: none;
}

.sort p {
    color: #666666;
}

.select option {
    font-weight: 900;
}